<!DOCTYPE html>
<html lang="en">
  <%- include('includes/header'); -%>
<body>
  <div class="container-fluid centered">
    <div class="container">
      <i class="fa-solid fa-key fa-6x"></i>
      <h1 class="display-3">Secrets</h1>
      <p class="lead">Don't keep your secrets, share them anonymously!</p>
      <hr>
      <a class="btn btn-light btn-lg mx-1" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg mx-1" href="/login" role="button">Login</a>
  
    </div>
  </div>
  <%- include('includes/footer'); -%>
</body>
</html>